/* ===== 由 index.vue 提取 ===== */
:deep(.t-table) th {
  font-weight: bold;
  color: var(--td-font-gray-1);
}

:deep(.t-table) td {
  padding: 2px 2px !important;
}

:deep(.t-input__inner) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
