/* ===== 由 index.vue 提取 ===== */
.t-select__list .t-select-option.t-is-disabled {
  background: var(--td-brand-color-light) !important;
  // color: var(--td-brand-color) !important;
  font-weight: 500;
  cursor: not-allowed;
}
.t-select__list .t-select-option.t-is-disabled:hover {
  background-color: var(--td-brand-color-light) !important;
}
